# 환경변수 설정. 이 파일의 이름을 .env로 수정해서 사용하시오.
# 환경 변수에 원하는 값들을 입력해서 사용하시오.
BASE_DATA_PATH=
PM_HAZARD_THRESHOLD=
# stocker 내 대기 job 중 score = process_time + urgency_factor * remain_qtime 최소 job 우선
# 값이 클수록 QTime 초과 위험이 높은 job을 우선 처리함
#QSPT (QTime-weighted Shortest Processing Time)
QTIME_URGENCY_FACTOR=
PM_ACTIVE=(True / False)
DOWN_ACTIVE=(True / False)
MACHINE_CHOICE=(random / FIFO / SPT / QSPT)
